<div class='row'>
  <div class='large-8 large-push-4 medium-7 medium-push-5 columns small-bleed'>
    <a href='#/portfolio/{{id}}'><img src='portfolio/thumbnails/thumb-{{id}}.png' width='100%' alt=''></a>
  </div>
  <div class='large-4 large-pull-8 medium-5 medium-pull-7 columns'>
    <h4>{{name}}</h4>
    <p class='text'>
      {{feature_description}}
    </p>
    {{#role}}
    <p class='info'>
      <span>My roles.</span>
      {{role}}
    </p>
    {{/role}}
    {{#ext_url}}
    <p class='info'>
      <span>Check it out at</span>
      <a href='{{ext_url}}' target='_blank'>{{ext_url}}</a>
    </p>
    {{/ext_url}}
  </div>
</div>