<li class='portfolio-grid-item' data-project-type='{{type}}'>
  <a href='#/portfolio/{{id}}'>
  {{#thumbnail}}
    <img src='portfolio/thumbnails/{{thumbnail}}'>
  {{/thumbnail}}
  {{^thumbnail}}
    <img src='portfolio/thumbnails/thumb-{{id}}.jpg'>
  {{/thumbnail}}
  <div class='portfolio-name'>
  {{#menu_name}}
    <div class='caption'>{{menu_name}}<br>
  {{/menu_name}}
  {{^menu_name}}
    <div class='caption'>{{name}}<br>
  {{/menu_name}}
    {{#menu_location}}
      <span class='subtitle'>{{menu_location}}</span>
    {{/menu_location}}
    {{^menu_location}}
      <span class='subtitle'>{{location}}</span>
    {{/menu_location}}
    </div>
  </div></a>
</li>