<!DOCTYPE html>
<html class='no-js'>
  <head>
    <meta charset='utf-8'>

    <title>{{#if data.name}}{{data.name}} - {{/if}}{{#if title}}{{title}} - {{/if}}Lou Huang</title>

    {{~#if data.feature_description}}
    <meta name='description' content='{{data.feature_description}}'>
    {{else}}{{~#if data.description}}
    <meta name='description' content='{{data.description}}'>
    {{else}}
    <meta name='description' content='Lou Huang is an urban designer and front-end web developer who uses technology to improve cities.'>
    {{/if}}{{/if~}}
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <meta property='og:title' content='{{#if data.name}}{{data.name}} - {{/if}}{{#if title}}{{title}} - {{/if}}Lou Huang'>
    <meta property='og:type' content='website'>
    {{#if data.id ~}}
    <meta property='og:url' content='http://louhuang.com/projects/{{data.id}}/'>
    {{~else~}}
    <meta property='og:url' content='http://louhuang.com/'>
    {{~/if}}
    {{#each data.images ~}}
    <meta property='og:image' content='http://louhuang.com/portfolio/images/{{filename}}'>
    {{/each~}}
    <meta property='og:image' content='http://louhuang.com/img/portrait.jpg'>

    <meta name='twitter:card' content='summary_large_image'>
    <meta name='twitter:site' content='@saikofish'>
    <meta name='twitter:title' content='{{#if data.name}}{{data.name}} - {{/if}}{{#if title}}{{title}} - {{/if}}Lou Huang'>
    {{~#if data.feature_description}}
    <meta name='twitter:description' content='{{data.feature_description}}'>
    {{else}}{{#if data.description}}
    <meta name='twitter:description' content='{{data.description}}'>
    {{else}}
    <meta name='twitter:description' content='Lou Huang is an urban designer and front-end web developer who uses technology to improve cities.'>
    {{/if}}{{/if~}}
    {{#each data.images ~}}
    <meta name='twitter:image:src' content='http://louhuang.com/portfolio/images/{{filename}}'>
    {{/each~}}
    {{#unless data.images ~}}
    <meta name='twitter:image:src' content='http://louhuang.com/img/portrait.jpg'>
    {{/unless~}}
    <meta name='twitter:domain' content='louhuang.com'>
    <meta name='twitter:creator' content='@saikofish'>

    <link rel='shortcut icon' href='/favicon.ico'>

    <link rel='stylesheet' href='/stylesheets/styles.css'>
    <script src='/js/vendor/modernizr.js'></script>
  </head>
  <body>
    <!--[if lte IE 9]>
    <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{> topbar }}

    <div role='main' class='content'>

      {{> body }}

    </div>

    {{> footer }}

    {{> javascripts }}

    {{> analytics }}

  </body>
</html>
