<section id='project'>

  <div class='row project-images'>
    <div class='large-12 columns bleed'>
      <div class='slideshow-wrapper'>
        <div class='preloader'></div>
        <ul id='orbit' data-orbit>
          {{#images}}
          <li>
            {{#interchange}}
            <img alt='' data-interchange='[portfolio/images/{{filename}}, (default)], [portfolio/images/{{medium}}, (medium)],[portfolio/images/{{large}}, (large)],' class='interchange'>
            {{/interchange}}
            {{^interchange}}
            <img src='portfolio/images/{{filename}}' alt=''>
            {{/interchange}}
            {{#caption}}
            <div class='orbit-caption'>
                {{caption}}
            </div>
            {{/caption}}
          </li>
          {{/images}}
        </ul>
      </div>
    </div>
  </div>

  <div class='row project-title'>
    <div class='large-12 columns'>
      <h4>{{name}}</h4>
    </div>
  </div>

  <div class='project-data'>
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>year</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{year}}</div>
    </div>
    {{#location}}
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>location</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{location}}</div>
    </div>
    {{/location}}
    {{#client}}
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>client</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{client}}</div>
    </div>
    {{/client}}
    {{#role}}
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>role</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{role}}</div>
    </div>
    {{/role}}
    {{#team}}
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>team</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{team}}</div>
    </div>
    {{/team}}
  </div>

  <div class='row project-description'>
    <div class='large-12 columns'>
    {{#description}}
      <p>{{description}}</p>
    {{/description}}
    {{^description}}
      <p>{{feature_description}}</p>
    {{/description}}
    </div>
  </div>

  <div class='row project-links'>
    <div class='large-12 columns'>
      {{#pdf_url}}
      <p><a href='{{pdf_url}}' target='_blank' title='download PDF' class='external-link'><i class='fi-page-pdf' style='margin-left: 4px;'></i> {{pdf_link}}{{^pdf_link}}Download PDF{{/pdf_link}} [pdf]</a></p>
      {{/pdf_url}}
      
      {{#ext_url}}
      <p><a href='{{ext_url}}' target='_blank' title='view external link' class='external-link'><i class='fi-page-export' style='margin-left: 4px;'></i> {{ext_link}}{{^ext_link}}View site{{/ext_link}}</a></p>
      {{/ext_url}}
    </div>
  </div>

</section>