---
title: Portfolio
data: <%= portfolio.item %>
---
<section id='project' data-project-id='{{data.id}}' data-project-status='{{data.status}}'>

  <div class='row project-images'>
    <div class='large-12 columns bleed'>
      <div class='slideshow-wrapper'>
        <div class='preloader'></div>
        <ul id='orbit' data-orbit data-options='animation_speed: 250;
                                                slide_number: false;
                                                bullets: true;
                                                timer: false;
                                                variable_height: true;'>
          {{#each data.images}}
          <li>
            {{#if interchange-disabled}}
            <img alt='{{caption}}' data-interchange='[/portfolio/images/{{filename}}, (default)], [/portfolio/images/{{small}}, (small)],[/portfolio/images/{{medium}}, (medium)]' class='interchange'>
            {{else}}
            <img src='/portfolio/images/{{filename}}' alt='{{caption}}'>
            {{/if}}
            {{#if caption}}
            <div class='orbit-caption'>
                {{caption}}
                {{~#if credit}} <span class='credit'>(Image courtesy of {{credit}})<span>{{/if}}
            </div>
            {{/if}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class='row project-title'>
    <div class='large-12 columns'>
      <h4>{{data.name}}</h4>
    </div>
  </div>

  <div class='project-data'>
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>year</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{data.year}}</div>
    </div>
    {{#if data.location}}
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>location</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{data.location}}</div>
    </div>
    {{/if}}
    {{#if data.client}}
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>client</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{data.client}}</div>
    </div>
    {{/if}}
    {{#if data.role}}
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>role</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{data.role}}</div>
    </div>
    {{/if}}
    {{#if data.team}}
    <div class='row'>
      <div class='small-3 medium-2 large-1 columns project-data-key'>team</div>
      <div class='small-9 medium-10 large-11 columns project-data-value'>{{data.team}}</div>
    </div>
    {{/if}}
  </div>

  <div class='row project-description'>
    <div class='large-12 columns'>
    {{#if data.description}}
      <p>{{data.description}}</p>
    {{else}}
      <p>{{data.feature_description}}</p>
    {{/if}}
    </div>
  </div>

  <div class='row project-links'>
    <div class='large-12 columns'>
      {{#if data.pdf_url}}
      <p><a href='/{{data.pdf_url}}' target='_blank' title='download PDF' class='external-link'><i class='fi-page-pdf' style='margin-left: 4px;'></i> {{data.pdf_link}}{{#unless data.pdf_link}}Download PDF{{/unless}} [pdf]</a></p>
      {{/if}}
      
      {{#if data.ext_url}}
      <p>
        <a href='{{data.ext_url}}' target='_blank' title='view external link' class='external-link'><i class='fi-page-export' style='margin-left: 4px;'></i> {{data.ext_link}}{{#unless data.ext_link}}View site{{/unless}}</a>
      </p>
      {{/if}}
    </div>
  </div>

  <div class='row project-navigation'>
    <div class='small-6 columns previous'>
      <i class='fi-arrow-left hide-for-small nav-arrow'></i>
      <a href='' id='previous-link'>
        <strong class='nav-text'>Previous</strong>
        <p class='nav-project'><span id='previous-project'></span></p>
      </a>
    </div>
    <div class='small-6 columns next'>
      <i class='fi-arrow-right hide-for-small nav-arrow'></i>
      <a href='' id='next-link'>
        <strong class='nav-text'>Next</strong>
        <p class='nav-project'><span id='next-project'></span></p>
      </a>
    </div>
  </div>
</section>